*{
    box-sizing: border-box;
  }
.holder{
display: flex;
width: 700px;
flex-wrap: wrap;
border: 5px solid black;
box-sizing: border-box;
padding: 0px;
margin-left: auto;
margin-right: auto;
border-top-left-radius: 15px;
margin: 15px;
border-top-right-radius: 10px ;
}

  
  body {
    margin: 0;
    line-height: 1.5;
    background-color: #edf2f7;
  }
  
  
.item{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    box-sizing: border-box;
    font-size: 36px;
    padding: 30px;

  
}
.item:first-child{
    background-color: red;
    order: -5;
    flex-grow: 10;
    flex-basis: calc((100% - 20px) / 2);
   
}
.item:nth-child(2){
    background-color: aquamarine;
    flex-wrap: wrap;
    flex-basis: calc((100% - 0px) / 3);
}
.item:nth-child(3){
    background-color: blueviolet;
    order: -3;
    flex-wrap: wrap;
    flex-basis: calc((100% - 0px) / 3);
}
.item:nth-child(4){
    background-color: green;
    flex-wrap: wrap;
    flex-basis: calc((100% - 0px) / 3);
}
.item:nth-child(5){
    background-color: orange;
    order: -4;
    flex-grow: 10;
    flex-basis: calc((100% - 20px) / 2);
  
}